PATH=~/miniforge3/bin:$PATH
TAVILY_API_KEY=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
CLAWHUB_TOKEN=clh_ieGkHFrYpEf4tERWCuSEFIgtLrqLHPDgnGSjjOD9VYA
ITICK_TOKEN=413780b394be417da4677d2bb4ad8247b30ff1f1329f4e05b223739e0a903626
AISA_API_KEY=sk-yj29fzNbnhFx5rUJSFbfPhlwQnjUPIfx84JDcwHerPAgcowr

OPENCLAW_LOG_LEVEL=debug
OPENCLAW_DATA_DIR=~/workspace/openclaw-home/data
OPENCLAW_WORKSPACE_DIR=~/workspace/openclaw-home/workspace
OPENCLAW_STATE_DIR=~/workspace/openclaw-home/state
OPENCLAW_CONFIG_PATH=~/workspace/openclaw-home/openclaw.json
OPENCLAW_SQLITE_VEC_LIB=~/workspace/openclaw-home/state/sqlite/vec0.linux-x86-64.so
http_proxy=http://127.0.0.1:11611
HTTP_PROXY=http://127.0.0.1:11611
https_proxy=http://127.0.0.1:11611
HTTPS_PROXY=http://127.0.0.1:11611
no_proxy=localhost,127.0.0.1,.alibaba-inc.com,.aliyun.com,.aliyuncs.com,.keep-learn.top,bigmodel.cn,.minimaxi.com,.kimi.com
NO_PROXY=localhost,127.0.0.1,.alibaba-inc.com,.aliyun.com,.aliyuncs.com,.keep-learn.top,bigmodel.cn,.minimaxi.com,.kimi.com
